@charset "utf-8";
@import url(https://fonts.google.com/specimen/Prata);
@import url(https://fonts.google.com/specimen/Inter);
*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
body{
    background-color: black;
}
.main-container{
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}
.in-container1{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    margin-top:20px;
    position:sticky;
}
ol{
    list-style-type:none;
    display:flex;
    
}

.nav{
    text-decoration:none;
    color:rgba(255, 255, 255, 0.515);
     margin:10px;
     transition:all 0.7s ease-in-out;
    
}
li{
    transition:all 0.7s ease-in-out;
}
li:hover{
    transition:all 0.7s ease-in-out;
    transform:scale(1.2)
}
.nav2{
    text-decoration:none;
    color:black;
    padding:10px; 
    background-color: rgb(255, 255, 4);
}
.con1-item1{
    display:flex;
    color:white;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    animation-name:john;
    animation-duration:3s;
    animation-timing-function: ease-in-out ;
    animation-iteration-count:infinite ;
    
}
@keyframes john{
    from{
        color:white;
    }

    to{
        color:rgba(255, 255, 255, 0.515);
    }
}
.con1-item2{
display:flex;
justify-content: center;
align-items: center;
}
.con1-item3{
 display:flex;
 justify-content: center;
 align-items: center;
}

.in-container2{
    color:white;
    margin-left:150px;
    margin-top:50px;
   
}
.head1{
    font-size:50px;
}
.para1{
    color:rgba(255, 255, 255, 0.515);
}
.in-container3{
    display:flex;
    margin-left:70px;
    margin-top:40px;
    
}
.svg{
    margin-left:78px;
    
}
svg{
    transition:all 0.7s ease-in-out;
}
svg:hover{
    transition:all 0.7s ease-in-out;
    transform:scale(1.3);
}
.in-container4{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

img{
    margin-top:40px;
    width:450px;
    height:250px;
    transition:all 1s ease-in-out;
}
img:hover{
    transition:all 1s ease-in-out;
    transform: scale(1.1);
}

.in-container5{
    display:flex;
}

