@charset "utf-8";
*{
    padding:0px;
    margin:0px;
    font-size:14px;
}

.container{
    display:flex;
    background-color: hsl(30, 38%, 92%);
    width:80vw;
    height:80vh;
    margin:0px auto;
    margin-top:65px;
}
img{
    width:280px;
    height:350px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
   
}
.item1{
     margin-top:80px;
     margin-left:250px;

    
}

.item2{
     margin-top:80px;
     background-color: #fff;
     width:280px;
     height:350px;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
}
h6{
    margin:15px;
    font-weight:lighter;
    color:hsl(158, 36%, 37%);
    letter-spacing:5px;
    font-size:8.5px;
}
h1{
    color:hsl(158, 36%, 37%); 
    font-size:2rem;
    margin-left:15px; 
}
p{
    margin:15px;
    font-weight:lighter; 
    
}